.bg-gradient-primary {
    background-image: linear-gradient(195deg, #4c4c4c 0%, #2c2c2c 100%);
}
.shadow-primary {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgb(0 0 0 / 40%) !important;
}

.btn-outline-primary {
    --bs-btn-color: #ffffff;
    --bs-btn-border-color: #ffffff;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #ffffff;
    --bs-btn-hover-border-color: #ffffff;
    --bs-btn-focus-shadow-rgb: 233, 30, 99;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #ffffff;
    --bs-btn-active-border-color: #ffffff;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #ffffff;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #ffffff;
    --bs-gradient: none;
}

.btn-primary {
    --bs-btn-color: #000;
    --bs-btn-bg: #343434;
    --bs-btn-border-color: #343434;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #343434;
    --bs-btn-hover-border-color: #343434;
    --bs-btn-focus-shadow-rgb: 198, 26, 84;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #343434;
    --bs-btn-active-border-color: #343434;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #343434;
    --bs-btn-disabled-border-color: #343434;
}

.btn-primary, .btn.bg-gradient-primary {
    box-shadow: 0 3px 3px 0 rgb(50 50 50 / 15%), 0 3px 1px -2px rgb(32 32 32 / 20%), 0 1px 5px 0 rgb(0 0 0 / 15%);
}

.action_btn {
    display: flex;
    justify-content: space-between;
    width: fit-content;
}
.action_btn span {
    font-size: 12px;
    padding-right: 15px;
    font-weight: 500;
}
.a_edit_btn a:hover span{
    color: #fb8c00;
}

.a_delete_btn{
    border: none;
    padding: 0;
    font-size: 12px;
    color: rgb(105, 0, 0);
    background-color: transparent;
}
.a_thumb_img img {
    width: 100px;
    height: 60px;
    object-fit: contain;
    box-shadow: 1px 1px 3px 0px #80808075;
    border-radius: 5px;
    background: #e8eef1;
}

.a_delete_btn:hover{
    color: rgb(250, 4, 4);
}

.action_btn span:hover {
    color: #000;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle, .btn.bg-gradient-primary:not(:disabled):not(.disabled).active, .btn.bg-gradient-primary:not(:disabled):not(.disabled):active, .show>.btn.bg-gradient-primary.dropdown-toggle {
    color: color-yiq(#b3b3b3);
    background-color: #000000;
}


.btn-primary:hover, .btn.bg-gradient-primary:hover {
    background-color: #000000;
    border-color: #000000;
    box-shadow: 0 14px 26px -12px rgb(0 0 0 / 40%), 0 4px 23px 0 rgb(26 26 26 / 15%), 0 8px 10px -5px rgb(28 28 28 / 20%);
}


/* New Register user */

 .form-control {
    border: 1px solid #bbbbbb!important;
    padding: 10px;
}

.post_content{
    max-width: 300px;
    overflow: auto;
}

.table thead th {
    padding: 0.75rem 0.5rem;
}
.pgtitle{
    display: flex;
}

.addnp_btn{
    border: 1px solid grey !important;
    margin: 0px 20px;
    padding: 10px;
    line-height: 20px;
    border-radius: 5px;
}

.pgtitle {
    display: flex;
    align-items: flex-start;
}






/* Product Styles */
.admin_price p{
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 0px;
}
.admin_regular_price{
    text-decoration: line-through;
}


.show_img img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
