.bg-gradient-primary {
    background-image: linear-gradient(195deg, #4c4c4c 0%, #2c2c2c 100%);
}
.shadow-primary {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgb(0 0 0 / 40%) !important;
}

.btn-outline-primary {
    --bs-btn-color: #ffffff;
    --bs-btn-border-color: #ffffff;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #ffffff;
    --bs-btn-hover-border-color: #ffffff;
    --bs-btn-focus-shadow-rgb: 233, 30, 99;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #ffffff;
    --bs-btn-active-border-color: #ffffff;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #ffffff;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #ffffff;
    --bs-gradient: none;
}

.action_btn span {
    font-size: 12px;
    padding-right: 15px;
    font-weight: 500;
}

.action_btn span:hover {
    color: #000;
}

/* New Register user */

.registerUser .form-control {
    border: 1px solid #bbbbbb;
    padding: 10px;
}